<div ng-include="'components/navbar/navbar.html'"></div>
<br><br>
<h3>Welcome!</h3>
<div ng-controller='HomeCtrl'>
    <button class='btn btn-danger' id='make_deck' ng-click="startAdd()">Make Deck</button>
    <ul>
      <li class='col-xs-2 deck-list well' ng-repeat="item in items">
          <a href='/deck/{{item.name}}/{{item._id}}' ng-click="item.showing = !item.showing">
            {{item.name}}
          </a>
          <div class='control-btns'>
          <div ng-controller="ModalWindowCtrl">
            <span class="fa fa-play-circle" ng-click="open(item)"></span>
          </div>
          <span class="fui-cross" id='delete-deck'ng-click='deleteItem(item, $index)'></span>
        </div>
        <!-- <div ng-show="item.showing" class='description'
          ng-bind-html-unsafe="item.description"></div> -->
      </li>
    </ul>
    <form ng-show="adding" class="add-window" ng-submit="addItem()">
      <div class='header'>Add a Deck<span class="fui-cross" id='exit-form' ng-click="cancelAdd()"></span></div>
      <div class='inner'>
        <div>
          <label>Name: </label>
          <input class="form-control" ng-model="newItem.name" required>
        </div>
        <div>
          <label>Description: </label>
          <textarea class="form-control" ng-model="newItem.description"></textarea>
        </div>
        <div class='button-bar'>
          <input type="submit" class='btn btn-info' value="Add">
          <button class="btn btn-inverse"type="button" ng-click="cancelAdd()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>