<div ng-include="'components/navbar/navbar.html'"></div>
<br><br>
<h3>Welcome!</h3>
<div ng-controller='HomeCtrl'>
    <button class='btn btn-danger' id='make_deck' ng-click="startAdd()">Make Deck</button>
    <ul>
      <li class='deck-list' ng-repeat="item in items">
        <a href='/deck/{{item.name}}' ng-click="item.showing = !item.showing">
          {{item.name}}
        </a>
       <button class='close'>x</button>
        <!-- <div ng-show="item.showing" class='description'
          ng-bind-html-unsafe="item.description"></div> -->
      </li>
    </ul>
    <form ng-show="adding" class="add-window" ng-submit="addItem()">
      <div class='header'>Add a Deck</div>
      <div class='inner'>
        <div>
          <label>Name: </label>
          <input type="text" ng-model="newItem.name" required>
        </div>
        <div>
          <label>Description: </label>
          <textarea ng-model="newItem.description"></textarea>
        </div>
        <div class='button-bar'>
          <input type="submit" value="Add">
          <button type="button" ng-click="cancelAdd()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>